# Listing the top five assignments based on total value of donations, categorized by donor type.

In [6]:
-- highest_donation_assignments

SELECT a.assignment_name, a.region , ROUND(SUM(d1.amount),2) AS rounded_total_donation_amount, d2.donor_type
FROM assignments AS a
INNER JOIN donations AS d1
ON a.assignment_id=d1.assignment_id
INNER JOIN donors AS d2
ON d1.donor_id=d2.donor_id
GROUP BY a.assignment_name, a.region , d2.donor_type
ORDER BY rounded_total_donation_amount DESC
LIMIT 5

   assignment_name region  rounded_total_donation_amount    donor_type
0  Assignment_3033   East                        3840.66    Individual
1   Assignment_300   West                        3133.98  Organization
2  Assignment_4114  North                        2778.57  Organization
3  Assignment_1765   West                        2626.98  Organization
4   Assignment_268   East                        2488.69    Individual

# identifying the assignment with the highest impact score in each region, ensuring that each listed assignment has received at least one donation.

In [7]:
WITH total AS (SELECT assignment_id,COUNT(*) AS num_total_donations
FROM  donations 
GROUP BY assignment_id)

, ranked AS(
SELECT assignment_name,assignment_id,
	region,
	impact_score,
	ROW_NUMBER() OVER (PARTITION BY region
			ORDER BY impact_score DESC) AS rank
	FROM assignments)


SELECT r.assignment_name,r.region, r.impact_score, t.num_total_donations
FROM total AS t 
INNER JOIN ranked AS r
ON t.assignment_id=r.assignment_id
WHERE r.rank=1
ORDER BY r.region ASC;

   assignment_name region  impact_score  num_total_donations
0   Assignment_316   East         10.00                    2
1  Assignment_2253  North          9.99                    1
2  Assignment_3547  South         10.00                    1
3  Assignment_3764   West          9.99                    1